[alias]
	co = checkout
[core]
	editor = bbedit --wait
	excludesfile = /Users/eivindelseth/.gitignore_global
[color]
	ui = auto
	status = auto
	branch = auto
[color "diff"]
	whitespace = red reverse
[push]
	default = current
[include]
	path = ~/.gitconfig.local
[user]
	name = Eivind Eidheim Elseth
	email = eivind.elseth@gmail.com
